.users-list-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.user-description-list {
    display: flex;
    border: 1px solid;
    flex-direction: column;
    border: 3px solid $colour-bg-lightblue;
    border-radius: 15px;
    padding: 10px;
}

.user-container {
    padding: 10px;
}