.main-container {
    display: flex;
    justify-content: center;
}

.post-list_container {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1200px;
}

.back-button {
    border: 2px solid #b0e0e6;
    padding: 5px 10px;
    border-radius: 15px;
    width: 200px;
    color: #6db3bd;
}

.back-button:hover {
    color: #ffffff;
    background-color: #6db3bd;
}
