.main-container {
    display: flex;
    justify-content: center;
}

.post-list_container {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1200px;
}