html, body {
    height: 100%;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 26px;
}

.post-list_container {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1200px;
}

.back-button:hover {
    color: $color-backBtnHov;
    background-color: $color-backBtnHov-bg;
}
