$color-main-bg-aqua: #7fffd4;

$color-button-lightaqua: #b0d3f8;
$color-button-hover-grey: #a0adbb;
$color-signInBtn-lightviolet: #cba3f1;
$color-anchor-font: #000000;

$color-border-lightblue: #b1b4ca;
$color-bg-lightpink: #f3b4c4;
$color-shadow-lightgrey: #c7cbf0;

$color-hover-pink: #f1567d;

$color-bg-post: #f0f8ff;

$color-backBtn-border: #b0e0e6;
$color-backBtn-bg: #6db3bd;
$color-backBtnHov: #ffffff;
$color-backBtnHov-bg: #6db3bd;

$color-alert-message: #ff0000;
