$color-main-bg-aqua: #7fffd4;

$color-header-violet: #533d53;
$color-button-lightaqua: #b0d3f8;
$color-signInBtn-lightvio: #cba3f1;

$color-border-lightblue: #b1b4ca;
$color-bg-lightpink: #f3b4c4;
$color-shadow-lightgrey: #c7cbf0;

$color-hover-pink: #f1567d;